.navbar-nav .nav-item .nav-link {
    padding: 0.5rem 1rem !important;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.search-form-container {
    display: flex;
    align-items: center;
  
}
.search-form {
    margin: 0 auto;
    
}


